<section class="vh-100" style="background-color: #01273d;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 zoom-container">
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-3 pb-1 bor ">
              <i class="fas fa-cubes fa-2x me-3"></i>
              <img class="h1 fw-bold mb-0" src="assets\BeboldLogo.png">
            </div>

<!-- 
            <mat-tab-group fitInkBarToContent animationDuration="2000ms">
              <mat-tab label="Sign in"> -->
                <app-sign-in-form></app-sign-in-form>
              <!-- </mat-tab> -->
              <!-- <mat-tab label="Sign up">

              </mat-tab> -->
            <!-- </mat-tab-group> -->
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
